.keyboardMessage {
    padding: 0.1em 0.25em;
    height: 4.2em;
    background-color: #e5e7eb;
    border: 0.08em solid #CACACA;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: default;
}

.keyboardMessage span {
    min-width: 4em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0.4em;
    height: 2.5em;
    background-color: #e5e7eb;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #777777;
    border: 0.08em solid #CACACA;
    -webkit-box-shadow: 0 0.15em 0.1em 0.019em #CACACA;
    box-shadow: 0 0.15em 0.1em 0.019em #CACACA;
    -webkit-transform: translate(0, 0.25em);
    -ms-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}