.loader-container {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  gap: 10px
}

.loader-folder {
  width: min-content;
  margin: auto;
  animation: loader-float 2s infinite linear;
}

.loader-folder .loader-top {
  background-color: #FF8F56;
  width: 60px;
  height: 12px;
  border-top-right-radius: 10px;
}

.loader-folder .loader-bottom {
  background-color: #FFCE63;
  width: 100px;
  height: 70px;
  box-shadow: 5px 5px 0 0 #e5e7eb;
  border-top-right-radius: 8px;
}

.loader-container .loader-title {
  font-size: .9em;
  color: #e5e7eb;
  text-align: center;
  margin-top: 15px;
}

@keyframes loader-float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-25px);
  }

  100% {
    transform: translatey(0px);
  }
}